@{
    ViewData["Title"] = "Home Page";

}
<link href='https://fonts.googleapis.com/css?family=Wire+One|Raleway:300' rel='stylesheet' type='text/css'>

<div class="skew-c"></div>
<div class="colour-block">
    <h1>IDoctor </h1>
    <p>احجز موعدك مع دكتورك اون لاين الان</p>
</div>
<div class="skew-cc"></div>
<div class="white-block">
    <h1>سجل الان </h1>
    <p> .... </p>
</div>
<!--<div class="skew-c"></div>
<div class="colour-block">
    <h1>Skewed Clockwise.</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
    consequat massa quis enim.</p>
</div>
    -->